<nav class="navbar navbar-default">
    <div class ="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Home</a>
            <a href="#" class="navbar-brand">About Us</a>
            <a href="#" class="navbar-brand">Projects</a>
            <a href="#" class="navbar-brand">Services</a>
            <a href="#" class="navbar-brand">Health & Safety</a>
            <a href="#" class="navbar-brand">Gallery</a>
            <a href="#" class="navbar-brand">Contact Us</a>
        </div>

    </div>
</nav>